/* You can add global styles to this file, and also import other style files */
body {
    background-color:rgba(204, 212, 212, 0.473);
    width: 100%;
    margin-left: 1px;
    margin-right: 1px;
}

