.container {
    height: 100vh;
    width: auto;
    border-radius: 10px;
    margin: 2px;
    padding: 10px;
    background-color: rgb(80, 94, 158);
}

.col-md-6 {
    height: 33vh ;

}

.img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
/* project es el cuadro negro */
.project {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: justify;

}

.project h1, h2{
    font-size: 20px;
}

i {
    font-size: 32px;
    padding: 10px;
    color: black; /* Cambiado a negro */
    margin-top: -30px;
}
/* div de los icons */
.text-center {
    text-align: center;
    margin-top: 2px;
}

.text-center, .contact {
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    
}


/* CSS for design responsive */
@media screen and (max-width: 600px) {
    .project {
        margin-top: 300px; /* Añade un margen superior */    
    }
    .project h1, h2 {
      font-size: 16px; /* Reduce el tamaño de la fuente */
      height: auto;
    }
    
    .col-md-6 {
        flex-basis: 100%; /* Ocupa el 100% del ancho del contenedor */
        max-width: 100%; /* Ocupa el 100% del ancho del contenedor */
        display: flex;
        flex-direction: column;
        
    }
    i {
        font-size: 24px;
        color: black; /* Cambiado a negro */
    }
    .text-center {
        margin-top: auto;
    }
    
    .text-center, .contact{
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .project {
        margin-top: 300px; /* Añade un margen superior */
                
    }
    .text-center {
        margin-top: auto;
    }
    
    i {
        font-size: 30px;
        color: black; /* Cambiado a negro */
    }
    
    
}
